@tailwind base;
@tailwind components;
@tailwind utilities;

.main-div {
    @apply flex flex-col container mx-auto space-x-2 space-y-4 mt-24 md:space-y-0 md:flex-row;
}

body {
    background-image: url("./img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
}

@media (max-width: 576px) {
    body {
        background-position: 50px -50px;
        background-size: 500px;
    }
}
